html, body, input, textarea
  font-family: "Varela Round", Arial, Helvetica, sans-serif

body
  background: url("../images/vaporwave.png")
  background-size: cover
  background-attachment: fixed
  overflow: hidden
  
.square
  border-right: 5px solid mediumspringgreen
  box-sizing: border-box
  position: absolute

  img
    width: 100%
    height: 100%

.sliders
  position: fixed
  bottom: 0
  left: 0
  z-index: 10
  text-align: center
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  border-top: 1px solid black
  background: white

  .slider
    width: 250px
    display: inline-block

    input
      margin-top: 20px
